@mixin backgroundImg($url, $repeat: no-repeat, $size: auto, $pos: center center, $height: initial) {
	@if $url {
		background-image: url($url);
		background-repeat: $repeat;
		background-size: $size;
		background-position: $pos;
		height: $height;
	}
}

@mixin list-reset() {
	list-style: none;
	padding: 0;
	margin: 0;
}

