// Theme Colors
$body-color: #777777;
$primary-color: #7cc576;
$secondary-color: #222222;
$grey: #cccccc;
$light_grey: #f9f9f9;

// Theme fonts
$primary-font: 'Montserrat', sans-serif;

// Headings Size
$h1-size: 40px;
$h4-size: 18px;