@import 'variables';
@import 'mixins';

body {
	color: $body-color;
	font: 400 14px $primary-font; 
}
h1, .h1, h2, h3, h4, h5, h6 {
	color: $secondary-color;
	font-family: $primary-font;
}
h1 {
	font-size: $h1-size;
}
h4 {
	color: $body-color;
	font-size: $h4-size;
}
img {
	max-width: 100%;
}
a {
	color: $body-color;
	transition: all 0.3s ease-in-out;
	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}
#header {
	position: fixed;
	width: 100%;
	background: rgb(255, 255, 255);
	z-index: 100;
	margin-bottom: 0px;
	top: 0;
}
section {
	margin-bottom: 100px;
}

/* Animation Timers */
@for $i from 1 through 9 {
	.delay-0#{$i}s {
		animation-delay: unquote('0.' + $i * 1 + 's');
	}
}
.delay-1s { 
	animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
}

/* Buttons */
.btn-primary {
	color: #ffffff;
	font-size: 14.84px;
	text-shadow: 0px 1px 1px #3ba738;
	background-color: $primary-color;
	text-transform: uppercase;
	border: 0;
	border-radius: 100px;
	width: 200px;
	height: 60px;
	box-sizing: border-box;
	vertical-align: middle;
	display: table-cell;
	margin: 0 auto;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		color: $primary-color;
		background: #fff;
		border: 3px solid transparent;
		text-shadow: none;
	}
}
.btn-default {
	color: #ffffff;
	font-size: $h4-size;
	background: transparent;
	text-transform: uppercase;
	border: 3px solid #fff;
	border-radius: 6px;
	padding: 12px 29px;
	box-sizing: border-box;
	vertical-align: middle;
	font-weight: 700;
	&:hover {
		color: $primary-color;
		background: #ffffff;
		border-color: transparent;
	}
}

/* Nav */
.navbar-default {
	background: #fff;
	border: 0;
	padding: 35px 0;
	text-transform: uppercase;
	margin-bottom: 0;
	transition: all 0.3s ease-in-out;
}
.navbar-brand {
	padding: 11px 0px;
}
.navbar-default {
	.navbar-nav {
		> .active {
			> a {
				&, &:hover, &:focus {
					background: transparent;
				}
			}
		}
	}
}
.nav-default-scroll {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-default-hover {
	padding: 5px 0;
	margin-bottom: 5px;
}

/* Main Slide */
.jumbotron-inner {
	@include backgroundImg('../images/main-img-bg.png', no-repeat);
	padding: 120px 0;
	margin-bottom: 86px;
	margin-top: 120px;
	h1 {
		font-size: 60px;
		font-weight: 700;
		color: #ffffff;
		margin: 0 0 40px 0;
	}
	h4 {
		color: #cccccc;
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	.view-more-btn {
		width:200px;
		margin: 0 auto;
		margin-top: 55px;
	}
}

/* Serives */
.section-title {
	margin-bottom: 85px;
	h1 {
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 700;
	}
	h4 {
		color: $secondary-color;
		font-size: $h4-size;
		margin: 40px 0 20px 0;
	}
}
#info {
	@include backgroundImg('../images/mid-bg.png', no-repeat);
	padding: 100px 0;
	color: #cccccc;
	font-size: 16px;
	margin-bottom: 85px;
	.info-block {
	    margin-left: 300px;
	    h1 {
		    margin: 0;
			color: #ffffff;
			font-weight: 700;
			margin-bottom: 45px;
			> span {
				color: $primary-color;
			}
		}
		p {
			margin-bottom: 20px;
		}
		ul.info-list {
		    margin: 0 0 35px 0;
		    padding: 0;
		    list-style: none;
		    > li {
		    	@include backgroundImg('../images/c-check.png', no-repeat);
				padding-left: 45px;
				line-height: 32px;
				margin-bottom: 10px;
			}
		}
		.btn-lg {
			width: 168px;
			margin-top: 43px;
		}
	}
}

/* Latest project */
.dev {
	padding-right: 180px;
	h4 {
		color: $secondary-color;
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		margin-bottom: 20px;
	}
}
.project-list-col1 {
	float: left;
	width: 73px;;
	text-align: center;
	margin-right: 17px;
}
.project-list-col2 {
	overflow: hidden;
	h3 {
		margin: 15px 0px 1px;
	}
}
.project-list {
	margin-bottom: 20px;
}
#latest-project {
	@include backgroundImg('../images/isometric-ipd-ar.png', no-repeat, auto, right 132px);
	padding-bottom: 90px;
	margin-bottom: 0;
}
.view-details {
	@include backgroundImg('../images/arrow-right.png', no-repeat, auto, right center);
	color: $primary-color;
	text-transform: uppercase;
	padding-right: 23px;
	&:hover {
		color: $secondary-color;
	}
}

/* Culture */
#culture-values {
	background-color: #f9f9f9;
	padding: 100px 0;
	.cv-services {
		h4 {
			margin: 25px 0 15px;
			text-transform: uppercase;
			color: $secondary-color;
			font-weight: 700;
		}
		div:nth-last-of-type(1) {
			> div:after {
				background: none;
				position: inherit;
			}
		}
	}
	.cs-services-icon {
		&:after {
		    content: '';
		    background: $body-color;
		    position: absolute;
		    width: 170px;
		    height: 2px;
		    margin-top: 45px;
			left: 210px;
		}
	}
}

/* Testimonials */
%tt-fl {
	float: left;
}
.client_profile_pic {
    border-radius: 50%;    
	margin: 0 0 15px 0;  
	height: 220px;
}
.client_profile {
    @extend %tt-fl;  
    text-align: center;
    &.flt {
    	float: right;
    }
}
.quote_section.flt {
    @extend %tt-fl;
}
.client_section {
    overflow: hidden;
}
.quote_section {
    width: 643px;  
	background: #f9f9f9;  
	position: relative;  
    padding: 40px 35px;  
	float: left;  
	margin: 35px 0 0 30px;
	p {  
		font-size: 22px;  
		color: $body-color;  
		text-align: center;  
		position: relative;
	  	font-weight: 100;
	}
	span {
	    font-size: $h4-size;
	    color: $primary-color;
	}
	.quote_arrow {
		position: absolute;
		background: url(../images/triagle-left.png) no-repeat left top;
		width: 23px;
		height: 25px;
		left: -20px;
		top: 50%;
		margin-top: -15.5px;
	}
	.quote_arrow2 {
		@extend .quote_arrow;
		background: url(../images/triagle-right.png) no-repeat right top;
		right: -20px;
		left: auto;
	}
	#info-name {
	    text-align: center;
	}
}

/* Contact */
#contact {
	background-color: $primary-color;
	padding: 70px 0;
	margin-bottom: 0;
	.contact-part {
		text-align: center;
		h1 {
			color: #ffffff;
			text-transform: uppercase;
			font-size: $h1-size;
			font-weight: 700;
			margin: 0px;
		}
		.btn {
			margin-top: 30px;
		}
	}
}

/* Logo */
#logo-part {
	padding: 60px 0;
	margin-bottom: 0;
	ul {
	    padding: 0;  
	    margin: 0;  
	    list-style: none;  
	    text-align: center;
	    li {
		    display: inline;  
		    margin: 0 20px;
		    a {
				display: inline-block;
				margin: 0 17px;
			}
		}
	}
}

/* Widgets */
#widgets-part {
	background-color: $secondary-color;
	padding: 60px 0;
	margin-bottom: 0;
	h1 {
		margin: 0px 0px 29px 0px;
		color: #ffffff;
		font-size: $h4-size;
		text-transform: uppercase;
	}
	.widget {
		color: #ececec;
		.tweets {
			padding: 0;
			list-style: none;
			> li {
				padding-left: 40px;
				list-style: none;
				background: url(../images/tweeter-icon.png) no-repeat;
				margin-bottom: 20px;
			}
		}
	}
}
%address {
    display: flex;
	vertical-align: top;
    margin-bottom: 20px;
}
%address-img {
	margin-right: 12px;
    height: 100%;
}
$list_address: location, phone, email;
@each $address in $list_address {
	.#{$address} {
		@extend %address;
		img {
			@extend %address-img;
		}
	}
}
.posts {
    overflow: hidden;
    margin-bottom: 20px;
    .post-icon {
	    float: left;
	    img {
		    margin-right: 12px;
		}
	}
	a {
		color: #ececec;
		&:hover {
			color: $primary-color;
		}
	}
}

/* --Footer-- */
$social_icons: (
	twitter: initial,
	facebook: -50px 1px,
	pinterest: -100px 1px,
	googleplus: -150px 1px
);
footer {
	padding: 29px 0;
	.social-media {
		list-style: none;
		padding: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			a {
				width: 41px;
				height: 41px;
				display: inline-block;
			}
			%social-icon-bg {
				background: url(../images/social-media-icon.png) no-repeat;
			}
			%social-icon-bg-hover-pos {
				background-position-y: -40px;
			}
			@each $icons in $social_icons {
				.#{nth($icons,1)} {
					@extend %social-icon-bg;
					background-position: nth($icons,2);
					&:hover {
						@extend %social-icon-bg-hover-pos;
					}
				}
			}
		}
	}
	.copy-right {
		color: #555555;;
		margin-top: 10px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}	
}

@media only screen and (max-width: 1260px) and (min-width:1160px) {
	#info {
		background: url(../images/mid-bg.png) -65px 0px;
	}
}

@media only screen and (max-width: 1160px) {
	#info {
		background: url(../images/mid-bg.png) -130px 0px;
	}
	.cs-services-icon:after {
		background: none;
		position: inherit;
	}
	p.copy-right {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) { 
	section#logo-part ul li a {
		width: 100px; 
	}
	#info {
		background: url(../images/mid-bg.png) -480px 0px no-repeat;
	}
	.info-block {
		margin: 0px 10px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.client_profile_pic {
		width: 150px;
		height: 150px;
	}
	.quote_section {
		width: 495px;
		margin: 6px 0 0 30px;
	}
	.client_section {
		padding: 35px 0 0 0;
	}
	.cv-services div > div:after {
		background: none;
	}
	section#logo-part ul li a {
		display: block;  
	}
	section#logo-part ul li {
		margin: 0 1%;
		float: left;
		width: 18%;
	}
	.contact-part h1 {
		font-size: 30px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.cv-services div > div:after {
		background: none;
	}
	.client_section {
		padding: 35px 0 0 0;
		overflow: inherit;
	}
	.client_profile {
		float: none;
		margin: 0 0 20px 0;
	}
	.client_profile.flt {
		float: none;
	}
	.client_profile_pic {
		float: none;
		width: 150px;
		height: 150px;
		margin: 0px auto;
	}
	.quote_section {
		width: auto;
		float: none;
		padding: 40px 30px;
		
	}
	.client_area {
		width: 436px;
		margin: 0 auto;
	}
	section#logo-part ul li {
		margin: 0px 6px;
	}
	section#logo-part ul li a {
		width: 100px;  
		margin-bottom: 5px;
	}
	.section-title {
		margin-bottom: 40px;
	}
	.contact-part h1 {
		font-size: 35px;
	}
	.jumbotron-inner h1 {
		font-size: 51px;
	}
	section#latest-project {
		background: url(../images/isometric-ipd-ar.png) no-repeat right 295px;
		background-size: 65%;
	}
}
@media only screen and (max-width: 479px) {
	h1 {
		font-size: 30px;
	}
	section#logo-part ul li {
		margin: 6px 0px;
		display: block;
	}
	section#logo-part {
		padding: 10px 0;
	}
	.client_area {
		width: 276px;
	}
	.contact-part h1 {
		font-size: 30px;
	}
	.quote_section p {
		font-size: 15px;
	}
	.dev {
		padding-right: 0px;
	}
	.jumbotron-inner {
		padding: 80px 0;
	}
	section#latest-project {
		background: url(../images/isometric-ipd-ar.png) no-repeat right 545px;
		background-size: 55%;
	}
}